@import url(/base/base.css);

.hero {
  min-height: calc(100vh - (var(--pad-block) * 2));
  background:
    radial-gradient(transparent 50%, #000000b0),
    url(./images/hero-background.jpg);
  color: var(--text-white);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;

  .hero__text,
  .hero__subtext {
    margin: 0;
    text-shadow: #000000ff 0 4px 1rem;
  }
  
  .hero__text {
    font-size: 2.5rem;
  }
  
  .hero__subtext {
    font-size: 1.25rem;
  }
}

.overview {
  min-height: 90vh;
  background: linear-gradient(#f506, #f506), url(./images/workstation.jpg);
  /* box-shadow: inset #000000aa 0 0 10rem; */
  color: var(--text-white);
  text-shadow: hsla(10, 100%, 30%, 0.70) 0 0 4px;
  >* {
    max-width: 75ch;
  }
}

.call-to-action {
  min-height: 90vh;
  box-shadow: inset #00000040 0 0 5rem 1rem;
  --block-background: hsla(20, 100%, 55%, 0.75);
  --background: url(/images/lady-wearing-rings.jpg);
  --clr-text: var(--text-white);
  
  button {
    --btn-color: var(--main-white);
    --btn-text: var(--text-black);
    margin-block: 2rem;
  }
}

