@import url(/base/base.css);

:root {
  scroll-behavior: smooth;
}

body {
  background-color: var(--accent-orange);
}

.banner {
  --_bg-image: var(--bg-image, transparent);
  --_clr-text: var(--clr-text, var(--text-white));
  --_clr-text-shadow: var(--clr-text-shadow, var(--text-black));

  background: linear-gradient(#ff550050, #ff550050), var(--_bg-image);
  background-attachment: fixed;
  color: var(--_clr-text);
  box-shadow:
    inset var(--_clr-text-shadow) 0 0 24px -10px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem var(--pad-inline);
  z-index: -1;
  height: 15vh;
  
  h1 {
    text-align: center;
    font-size: 2em;
    margin: 0;
    text-shadow: var(--_clr-text-shadow) 0 1px 8px;
  }
}

.shop-grid {
  background-color: var(--main-white);
  margin: 0;
  padding: 0 var(--pad-inline);
  padding-block: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 24%));
  grid-auto-rows: auto;
  gap: 0.5rem;
  justify-content: center;
}

.subtext {
  background-color: var(--main-white);
  margin: 0;
  padding: 1rem var(--pad-inline);
  text-align: center;
  font-size: 0.9em;
  color: #555555;
}

#rings {
  --bg-image: url(/images/three-rings.jpg);
}
#bracelets {
  --bg-image: url(/images/beaded-bracelets.jpg);
}
#necklaces {
  --bg-image: url(/images/necklace-on-sheets.jpg);
}
#earrings {
  --bg-image: url(/images/earrings-on-notebook.jpg)
}