@import url(/base/base.css);

section:not(.floater--container),
.floater--block {
  padding-block: 2rem;
}

#introduction {
  display: grid;
  grid-template-columns: [full-width-start] 1fr 65ch [full-width-end];
  column-gap: 1rem;

  h1 {
    grid-column: full-width;
    text-align: center;
  }

  p {
    margin-top: 0;
  }
}

.photocard {
  --img-border-width: 16px;
  box-shadow: #00000060 0 4px 12px;
}

.history {
  --background: url(/images/workstation-2.jpg);
  --block-background: hsla(20, 100%, 50%, 0.75);
  --clr-text: var(--text-white);

  h1 {
    margin-top: 0;
  }
}

.newsletter {
  background-color: var(--accent-orange);
  color: var(--text-white);
  place-items: center;
  row-gap: 1rem;

  --btn-color: var(--main-white);
  --btn-text: var(--accent-orange);

  >h1, >p {
    margin: 0;
  }
  button {
    margin-block: 1.5rem;
  }
}