@import url(./fonts.css);

/* Color variables */
:root {
  --main-white: #ffffff;
  --main-black: #222222;
  --main-white--hover: #eeeeee;
  --accent-gold: #ffbb00;
  --accent-orange: #ff5500;

  --text-white: #ffffff;
  --text-black: #000000;
  --text-accent: var(--accent-orange);

  --pad-inline: max(8%, 1rem);
}

/* When you highlight text, it uses a different color now */
::selection {
  background-color: var(--accent-gold);
  color: var(--text-black);
}

/* Setup */
body {
  margin: 0;
  padding: 0;
  background-color: var(--main-white);
}

/* So that the header (and sidebar) will show properly */
main {
  z-index: -1;

  >section:not(.full-width) {
    padding-inline: var(--pad-inline);
  }
}

/* Default button styling */
button {
  --_btn-color: var(--btn-color, var(--accent-orange));
  --_btn-text: var(--btn-text, var(--text-white));
  width: fit-content;
  display: block;
  font-family: unset;
  padding: 0.75em 2em;
  border: none;

  background-color: var(--_btn-color);
  color: var(--_btn-text);
}

button:active {
  --btn-color: var(--main-black) !important;
  --btn-text: var(--accent-gold) !important;
}

/* I only used it on the "Learn more about us" link */
.mini-link {
  --_clr-link: var(--clr-link, var(--text-accent));
  color: var(--_clr-link);
  text-decoration: none;
  font-size: 0.95em;
  font-weight: 700;
  position: relative;
  
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 1.5px;
    border-radius: 0.75px;
    left: 50%;
    transform: -50%;
    background-color: var(--_clr-link);
    transition:
      width 250ms ease,
      left 250ms ease,
      transform 250ms ease;
  }
  &:hover::before {
    width: 100%;
    left: 0;
    transform: 0;
  }
}

.socials {
  display: flex;
  fill: var(--text-white);
  gap: 2rem;

  svg {
    height: 2rem;
  }

  svg:hover {
    fill: var(--main-white--hover);
  }
}

/* Optional padding */
.padding-y {
  padding-block: 2rem;
}
.margin-y {
  margin-block: 2rem;
}

/* Header and Footer styling */
header,
footer {
  padding-inline: var(--pad-inline);
  padding-block: 1.5rem;
  --_clr-text: var(--clr-text, var(--text-black));
  --_shadow: #00000060 0 8px 32px;
  
  color: var(--_clr-text);
  box-shadow: var(--_shadow);
}

header {
  --_header-bg: var(--main-white);

  width: calc(100% - (var(--pad-inline) * 2));
  background: var(--_header-bg);
  display: grid;
  grid-template-columns: [left] 1fr [center] auto [right] 1fr;
  align-items: center;
  z-index: 10;
  
  /* Alignment */
  .header--left {
    justify-self: start;
    grid-column: left;
  }
  .header--right {
    justify-self: end;
    grid-column: right;
  }
  .header--center {
    justify-self: center;
    grid-column: center;
  }
  .logo {
    content: url(./assets/logo-black.svg);
  }
  .sidebar-open {
    display: none;
    width: 2rem;
    color: var(--_clr-text);
  }
  .sidebar-close {
    width: 2rem;
  }
  button {
    cursor: pointer;
    color: inherit;
    background-color: transparent;
    border: none;
    padding: 0;
  }
  button:hover {
    color: var(--accent-orange);
  }
}

/* Mainly for the homepage, lets the header always stay on screen */
header.sticky {
  --_header-bg: linear-gradient(#000000a0, transparent);
  --clr-text: var(--text-white);
  box-shadow: unset;
  position: fixed;
  top: 0;
  transition: all 300ms ease;
  
  .logo {
    content: url(./assets/logo-white.svg);
  }
  
  &:hover {
    --_header-bg: var(--main-white);
    --clr-text: var(--text-black);
    box-shadow: var(--_shadow);
  }

  &:hover .logo {
    content: url(./assets/logo-black.svg);
  }
}

/* Footer */
footer {
  background-color: var(--main-black);
  --clr-text: var(--text-white);

  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}

/* Navigation sidebar (for smaller screens) */
aside {
  display: none;
  padding-block: 2rem;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: max(30%, 300px);
  background-color: #ffffff99;
  backdrop-filter: blur(1rem);
  box-shadow: var(--_shadow);
  transition: transform 300ms ease, visibility 300ms ease;
  z-index: inherit;
  
  &.hidden {
    transform: translateX(100%);
    visibility: hidden;
  }
}

/* List of links in the header */
.nav-list {
  color: var(--clr-text);
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1.5rem;
  place-content: center;
  place-items: center;

  a {
    color: unset;
    text-decoration: none;
    transition: color 200ms linear;
  }
  a:hover {
    color: var(--text-accent);
  }

  .label {
    display: none;
  }
  svg {
    display: block;
  }
}

/* List of links in the sidebar */
aside .nav-list {
  --clr-text: var(--text-black);
  text-align: end;
  flex-direction: column;
  place-items: start;
  width: 100%;
  gap: 0;
  
  li {
    width: 100%;
  }
  li a {
    display: block;
    padding: 1rem 3rem;
  }

  li:hover {
    background-color: #00000010;
  }

  svg {
    display: none;
  }

  .label {
    display: block;
  }
}

.sidebar-close {
  display: block;
  margin-inline: auto 3rem;

}

aside .dropdown__menu,
aside .dropdown:hover .dropdown__menu {
  display: none;
}

/* Dropdowns */
.dropdown {
  anchor-name: --dropdown-anchor;
}

.dropdown__menu {
  list-style-type: none;
  font-size: 0.90rem;
  margin: 0;
  padding: 0.5rem ;
  position: absolute;
  box-shadow: #00000040 0 0.5rem 1rem;
  opacity: 0;
  flex-direction: column;
  transition: opacity 300ms ease;
  visibility: hidden;
  z-index: 10;

  background-color: var(--main-white);
  
  li a {
    display: block;
    padding: 0.75rem 1rem;
    transition: background-color 200ms ease;
  }
  li a:hover {
    background-color: var(--main-white--hover);
    color: var(--text-accent);
  }
}

.dropdown:hover .dropdown__menu,
.dropdown__menu:hover {
  display: flex;
  opacity: 1;
  visibility: visible;
}


/* Horizontal scrollers, found in homescreen */
.horizontal-scroller {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 300px;
  gap: 1rem;

  overflow-x: scroll;
}

.horizontal-scroller.snap {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  
  >:not(:first-child, :last-child) {
    scroll-snap-align: center;
    scroll-snap-stop: always;
  }
  >:first-child {
    scroll-snap-align: start;
  }
  >:last-child {
    scroll-snap-align: end;
  }
}

/* Grids, also found in homescreen */
.flex-grid {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0.5rem;

  li {
    margin: 0;
    padding: 0;
    width: max(20%, 200px);
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.card {
  --_text-hover: var(--text-hover, var(--text-accent));

  width: 100%;
  max-height: fit-content;
  display: block;
  margin: 0 0 1rem 0;
  padding: 0;
  text-align: center;

  .img-container {
    aspect-ratio: 1/1;
    width: 100%;
    margin-bottom: 0.75rem;
    display: flex;
    place-content: center;
    overflow: hidden;
  }

  img {
    scale: 1;
    transition: scale 500ms ease;
  }
  &:hover img {
    scale: 1.10;
  }

  .card__title, .card__subtitle {
    margin: 0.15em;
    transition: color 200ms ease;
  }
  .card__subtitle {
    font-size: 0.9rem;
  }
}

.floater--container {
  --_background: var(--background, var(--accent-orange));
  --_block-background: var(--block-background, var(--main-white--hover));
  --_clr-text: var(--clr-text, var(--text-black));

  background: var(--_background);
  color: var(--_clr-text);
}

.floater--container>.floater--block {
  background: var(--_block-background);
  padding-inline: var(--pad-inline);
  box-shadow: hsla(0, 100%, 10%, 0.5) 0 0 24px;
  clip-path: inset(0 -24px 0 0);
  width: calc(50% - (var(--pad-inline) * 2));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .floater--block__title,
  .floater--block__subtext {
    margin: 0.25rem;
    text-align: center;
  }
  
  .floater--block__title {
    font-size: 2rem;
  }
}

.card:hover .card__title,
.card:hover .card__subtitle {
  color: var(--_text-hover);
}

@media screen and (max-width: 900px) {
  .header--right, .header--left {
    display: none;
    visibility: none;
  }
  header {
    display: flex;
    justify-content: space-between;

    .sidebar-open {
      display: block;
    }
  }
  aside {
    display: block;
  }
}